In [61]:
import numpy as np
import pandas as pd
import random
import matplotlib.pyplot as plt

In [63]:
df = pd.read_csv("epsilon_greedy_results.csv")
df

     Pull_Number  Arm_Pulled  Reward  Cumulative_Reward       Regret
0              1           4      24                 24     0.547386
1              2           4      23                 47     2.094771
2              3           4      15                 62    11.642157
3              4           4      23                 85    13.189542
4              5           4      17                102    20.736928
..           ...         ...     ...                ...          ...
995          996          21      21              21621  2828.196078
996          997          21      21              21642  2831.743464
997          998           7      15              21657  2841.290850
998          999          21      21              21678  2844.838235
999         1000          21      28              21706  2841.385621

[1000 rows x 5 columns]

In [64]:
plt.plot(df["Pull_Number"], df["Regret"])
plt.xlabel("No. of Rounds")
plt.ylabel("Total Regret")
plt.show()

NameError: name 'plt' is not defined